@font-face{
    font-family: 'Bungee Hairline';
    src:url("./Fonts/Bungee_Hairline/BungeeHairline-Regular.ttf");
}
@font-face{
    font-family: 'Roboto';
    src:url("./Fonts/Roboto/Roboto-Thin.ttf");  
    font-weight: 100;
}
@font-face{
    font-family: 'Roboto';
    src:url("./Fonts/Roboto/Roboto-Light.ttf");
    font-weight:300;
}
@font-face{
    font-family: 'Roboto';
    src:url("./Fonts/Roboto/Roboto-Regular.ttf"); 
    font-weight: 400;
}
@font-face{
    font-family: 'Roboto';
    src:url("./Fonts/Roboto/Roboto-Medium.ttf");
    font-weight:500;
}
@font-face{
    font-family: 'Roboto';
    src:url("./Fonts/Roboto/Roboto-Bold.ttf"); 
    font-weight:700;
}   
@font-face{
    font-family: 'Montserrat';
    src:url("./Fonts/Montserrat/Montserrat-Thin.ttf");  
    font-weight: 100;
}
@font-face{
    font-family: 'Montserrat';
    src:url("./Fonts/Montserrat/Montserrat-Regular.ttf");  
    font-weight: 400;
}
@font-face{
    font-family: 'Montserrat';
    src:url("./Fonts/Montserrat/Montserrat-SemiBold.ttf");  
    font-weight: 700;
}
@font-face{
    font-family: 'Montserrat';
    src:url("./Fonts/Montserrat/Montserrat-Light.ttf");  
    font-weight: 300;
}
body{
    /* height:100%; */
    max-width:100%;
    background-color: #dae2f8;
    /* overflow-x: hidden; */
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-weight:300;
}
.flex-row-xy-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.flex-row-x-center{
    display:flex;
    justify-content: center;
}
.flex-row-y-center{
    display:flex;
    align-items: center;
}
.flex-column-center-center{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-column-center-between{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.flex-column{
    display:flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}
.top-abs{
    top:0;
    position:absolute;
    z-index:2;
}
.hide{
    font-size:0px;
    color:transparent;
    transition: all 0.3s linear;
}
.no-display{
    /* opacity:0; */
    filter: blur(1rem);
}
.wrap-content{
    width:100%;
    height:100%;
    /* border:1px solid red; */
    
}
.wrap_for_bgc{
    overflow:hidden;
    max-width:100%;
    height:100vh;
}
.mount-bgc{
    width:105vw;
    height:104vh;
    background-image: url('imgs/photo-1477346611705-65d1883cee1e.jpg');
    background-size:cover;
    filter:blur(5px);
    margin-top:-1rem;
    margin-left:-1rem;
}
.content{
    z-index:3;
    /* min-width:80vw; */
    max-width:1600px;
    /* min-height:250vh; */
    border:1px solid green;
    /* padding: 0 2rem 0 2rem; */
}
.nav-bar{
    position: fixed;
    height:100vh;
    z-index:2;
    /* border:5px solid white; */
    left:5vw;
}
.btn-nav-bar{
    width:5rem;
    height:5rem;
    border-radius: 50%;
    background-color: #fff;
    font-size:1rem;
    color:black;
    font-weight: 900;
    transition: all 0.3s linear;
}
.btn-nav-bar:hover{
    box-shadow: 2px 2px 20px white;
    cursor:pointer;
}
.ul-nav-bar{
    margin: 0;
    padding: 0;
    /* list-style: none; */
    list-style-type: decimal-leading-zero;
    transition: all 0.3s linear;
    /* border:1px solid red; */
    /* border:3px solid red; */
}
/* .ul-nav-bar li{
    background-color: yellow;
    padding: 0;
    margin: 0;
    font-size:1rem;
} */
.nav-bar-ul-li{
    /* border:3px solid red; */
    color:white; 
    padding: 1rem;
    /* max-height:1rem; */
    /* margin-top:0.5rem; */
    font-weight:400;
    /* margin-bottom:0.5rem; */
    text-align: left;
    transition: all 0.3s linear;
}
.nav-bar-ul-li p{
    margin: 0;
    padding: 0;
}
.ul-nav-bar p{
    margin: 0;
    padding: 0;
}
.nav-bar-ul-li:hover{
    cursor: pointer;
    padding-left: 2rem;
}
.nav-bar-ul-li::before{
    z-index:1;
    transition: all 0.3s ease-in;
    box-sizing: inherit;
    content: '';
    position: absolute;
    border:1px solid transparent;
    width:0%;
    left:0;
}
.nav-bar-ul-li:hover::before{
    right:0;
    width:100%;
    border-bottom:1px solid orange;
}
.nav-bar-ul-li:nth-child(even):hover::before{
    right:0;
    width:100%;
    border-bottom:1px solid lightcoral;
}
.main-content{
    width:100%;
    height:100%;

}
.test1{
    width:100%;
    height:100vh;
    transition: filter 0.5s linear;
    /* border:1px solid yellow; */
}
.my-avatar-bgc{
    background-image: url("imgs/photo-1477346611705-65d1883cee1e.jpg");
    background-size: cover;
}
@media(max-width:360px){
    .my-avatar{
        width:80vw;
        height:35vh;
    }
    .block{
        min-width:30px;
        min-height:30px;
    }
    .nav-bar-ul-li{
        font-size: 1rem;
    }
    .test_p::before{
        height:0.5rem;
    }
    .ul-nav-bar{
        padding-left: 2rem;
    }
    .nav-bar-ul-li::before{
        height:1.5rem;
    }
}
@media(min-width:361px){
    .my-avatar{
        width:60vw;
        height:30vh;
    }
    .block{
        min-width:45px;
        min-height:45px;
    }
    .nav-bar-ul-li{
        font-size: 1rem;
    }
    .test_p::before{
        height:0.5rem;
    }
    .ul-nav-bar{
        padding-left: 2rem;
    }
    .nav-bar-ul-li::before{
        height:1.5rem;
    }
}
@media(min-width:536px){
    .my-avatar{
        width:50vw;
        height:40vh;
    }
}
@media(min-width:651px){
    .my-avatar{
        width:50vw;
        height:45vh;
    }
    .block{
        min-width:100px;
        min-height:100px;
    }
    .nav-bar-ul-li{
        font-size: 2rem;
    }
    .test_p::before{
        height:1rem;
    }
    .ul-nav-bar{
        padding-left: 4rem;
    }
    .nav-bar-ul-li::before{
        height:3rem;
    }
}
@media(max-width:900px){
    .my-avatar-bgc{
        width:100vw;
        height:100vh;
    }
    
    .btn-mini-hide{
        margin-top:-2rem;
    }
}
@media(min-width:900px){
    .my-avatar-bgc{
        width:971px;
        height:648px;
    }
    .my-avatar{
        width:400px;
        height:400px;
    }
    .btn-mini-hide{
        margin-top:-4rem;
    }
}
.wrap-avatar{
    perspective: 500px;    
}
.my-avatar{
    background-image: url("imgs/gpxCPWS_PCc.png");
    background-size: cover;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transition:transform 0.3s linear;
    transform-style:preserve-3d;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.my-avatar:hover{
    cursor: pointer;
}
.test_p::before{
    position:absolute;
    margin: 0;
    padding: 0;
    content:'ABC🤔';
    font-size:inherit;
    color:red;
    overflow: hidden;
}
.block-wrap{
    border:1px solid green;
}
.block{
    background-color: black;
    margin: 0 1rem 0 1rem;
    color:white;
    font-size:1rem;
}
.fade{
    transition: all 0.3s linear;
    color:lightcoral;
}